POSTGRES_DB=lk_fafka_stub_kafka
POSTGRES_USER=stub_kafka
POSTGRES_PASSWORD=stub_kafka_password
KAFKA_TOPIC=applications.status
STUB_CONSUMER_GROUP=stub-status-change-v1
LK_CONSUMER_GROUP=eapo-cab-status-result-v1
ADMIN_PORT=8080
